{% extends "base.html" %}
{% block title %}NativeService API - Realizacja zlecenia rozpoczęta{% endblock %}
{% block content %}
	{% load static %}
	<div class="second bar">
		<h1>
			Realizacja zlecenia rozpoczęta.
		</h1>
		<p>
			Status zlecenia został zmieniony na <strong>W TRAKCIE REALIZACJI</strong>. Postaraj się jak najszybciej
			zrealizować zlecenie.
		</p>
	</div>
	<div class="body seventy">
		<!-- container -->
		<div class="stepbystep price">
			<div class="box price">
				<p>
					<strong>Dane dotyczące zlecenia</strong>:<br>
					Tytuł: {{ title }}<br>
					SECRET_KEY: <strong>{{ secret_key }}</strong><br>
					Priorytet <strong>{{ priority }}</strong><br>
					Dodano: {{ create|date:"d.m.Y" }} {{ create|time:"H:i" }}<br>
					Opis: {{ description }}<br>
				</p>
				<p>
					<strong>Warunki realizacji:</strong><br>
					Cena: {{ price }} zł<br>
					Termin realizacji (wycena): {{ time_to_get_ready|date:"d.m.Y" }}<br>
					Komentarz: {{ comments }}<br>
				</p>
			</div>
		</div>
	</div>

{% endblock %}