{% extends "base.html" %}

{% block title %}NativeService API - Wycena{% endblock %}
{% block content %}


	<div class="second bar">
		<h1>Zakończ zlecenie</h1>
		<p>
			W razie potrzeby załącz dla klienta niezbędne pliki.
		</p>
	</div>
	<div class="body seventy">
		<!-- container -->
		<div class="stepbystep">
			<div class="container">
				<div class="box price">
					<p>
						<strong>Dane dotyczące zlecenia</strong>:<br>
						<strong>Tytuł:</strong> {{ title }}<br>
						<strong>Klucz:</strong> <strong>{{ secret_key }}</strong><br>
						<strong>Priorytet:</strong> <strong>{{ priority }}</strong><br>
						<strong>Dodano:</strong> {{ create|date:"d.m.Y" }} {{ create|time:"H:i" }}<br>
						<strong>Opis:</strong> {{ description }}<br>
					</p>
					<p>
						<strong>Warunki realizacji:</strong><br>
						<strong>Cena:</strong> {{ price }} zł<br>
						<strong>Termin realizacji (wycena):</strong> {{ time_to_get_ready|date:"d.m.Y" }}<br>
						<strong>Komentarz:</strong> {{ comments }}<br>
					</p>
				</div>
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					{{ native_formset }}
					{% load widget_tweaks %}

					{% for hidden_field in form.hidden_fields %}
						{{ hidden_field }}
					{% endfor %}

					{% if form.non_field_errors %}
						<div class="alert alert-danger" role="alert">
							{% for error in form.non_field_errors %}
								{{ error }}
							{% endfor %}
						</div>
					{% endif %}

					{% for field in form.visible_fields %}
						<div class="form-group">
							{{ field.label_tag }}<br>

							{% if form.is_bound %}
								{% if field.errors %}
									{% render_field field class="form-control is-invalid" %}
									{% for error in field.errors %}
										<div class="invalid-feedback">
											{{ error }}
										</div>
									{% endfor %}
								{% else %}
									{% render_field field class="form-control is-valid" %}
								{% endif %}
							{% else %}
								{% render_field field class="form-control" %}
							{% endif %}

							{% if field.help_text %}
								<small class="form-text text-muted">{{ field.help_text }}</small>
							{% endif %}
						</div>
					{% endfor %}
					{{ uploaded_formset }}

					<p>
						Wysyłając formularz zmienisz status na <strong>ZLECENIE ZAKOŃCZONE</strong>
					</p>

					<div class="holderbutton">
						<input type="submit" value="Wyślij">
					</div>
				</form>
			</div>
			<div class="step info">

			</div>
		</div>
	</div>
{% endblock %}