{% extends "base.html" %}
{% block title %}NativeService API - Płatności{% endblock %}
{% block content %}
	{% load static %}
	<div class="second bar">
		<h1>
			Przy pomocy Dotpay dokonaj płatności na umówioną kwotę.
		</h1>
		<p>
			Zaraz po otrzymaniu wpłaty przystępujemy do realizacji zlecenia, bo czas to pieniądz.
		</p>
	</div>
	<div class="body seventy">
		<!-- container -->
		<div class="stepbystep price">
			<div class="box price">
				<p>
					DOTPAY PLUGIN<br>
					cena: {{ price }}
				</p>
				<p>
					{{ error }}
					{{ error_description }}
					{{ access_token }}
					{{ token_type }}
				</p>
				<p>
					<a href="{% url "Native_Service:dotpay_payment_done" slug %}">successful payment</a>
				</p>

				<form method="post" action="https://secure.snd.payu.com/api/v2_1/orders">
				<input type="hidden" name="continueUrl" value="{{ continueUrl }}">
				<input type="hidden" name="currencyCode" value="{{ currencyCode }}">
				<input type="hidden" name="customerIp" value="{{ customerIp }}">
				<input type="hidden" name="description" value="{{ description }}">
				<input type="hidden" name="merchantPosId" value="{{ merchantPosId }}">
				<input type="hidden" name="notifyUrl" value="{{ notifyUrl }}">
				<input type="hidden" name="products[0].name" value="{{ productname }}">
				<input type="hidden" name="products[0].quantity" value="{{ productquantity }}">
				<input type="hidden" name="products[0].unitPrice" value="{{ productunitPrice }}">
				<input type="hidden" name="totalAmount" value="{{ totalAmount }}">
				<input type="hidden" name="OpenPayu-Signature" value="sender={{ merchantPosId }};algorithm=SHA-256;signature={{ signature }}">
				<button type="submit" formtarget="_blank" >Pay with PayU</button>
				</form >
			</div>
		</div>
	</div>

{% endblock %}