{% extends "base.html" %}

{% block title %}NativeService API - Zlecenie odrzucone{% endblock %}
{% block content %}


	<div class="second bar">
		<h1>Pomyślnie odrzucono zlecenie</h1>
		<p>
			Staraj się odrzucać jak najmniej zleceń.
		</p>
	</div>
	<div class="body seventy">
		<!-- container -->
		<div class="stepbystep">
			<div class="container">
				Zlecenie zostało odrzucone oraz pomyślnie skasowane z bazy danych.
			</div>
			<div class="step info">
				<p>
					Staraj się odrzucać jak najmniej zleceń.
				</p>
			</div>
		</div>
	</div>
{% endblock %}