{% extends "base.html" %}
{% block title %}NativeService API - Zlecenie opłacone{% endblock %}
{% block content %}
	{% load static %}
	<div class="second bar">
		<h1>
			Gratulacje {{ name }}, udało Ci się dokonać płatności.
		</h1>
		<p>
			Twoje zlecenie <strong>{{ title }}</strong> właśnie zmieniło status na <strong>ZLECENIE OPŁACONE</strong>!
		</p>
	</div>
	<div class="body seventy">
		<!-- container -->
		<div class="stepbystep price">
			<div class="box price">
				<p>
					Zostaniesz natychmiast poinformowany kiedy Twoje zlecenie zmieni status na <strong>"W TRAKCIE
					REALIZACJI"</strong>
					oraz kiedy zakończy się realizacja Twojego zlecenia.<br>
					Pamiętaj aby sprawdzać swoją pocztę email, również folder "<strong>spam</strong>" oraz "<strong>niechciane</strong>"!
				</p>
			</div>
		</div>
	</div>

{% endblock %}