{% extends "base.html" %}

{% block title %}NativeService API - Wycena zlecenia{% endblock %}
{% block content %}


	<div class="second bar">
		<h1>Wypełnij formularz dotyczący zlecenia</h1>
		<p>
			W razie potrzeby załącz nam niezbędne pliki.
		</p>
	</div>
	<div class="body seventy">
		<!-- container -->
		<div class="stepbystep">
			<div class="container">
				<form method="post">{% csrf_token %}
					{% csrf_token %}
					{% load widget_tweaks %}

					{% for hidden_field in form.hidden_fields %}
						{{ hidden_field }}
					{% endfor %}

					{% if form.non_field_errors %}
						<div class="alert alert-danger" role="alert">
							{% for error in form.non_field_errors %}
								{{ error }}
							{% endfor %}
						</div>
					{% endif %}

					{% for field in form.visible_fields %}
						<div class="form-group">
							{{ field.label_tag }}<br>

							{% if form.is_bound %}
								{% if field.errors %}
									{% render_field field class="form-control is-invalid" %}
									{% for error in field.errors %}
										<div class="invalid-feedback">
											{{ error }}
										</div>
									{% endfor %}
								{% else %}
									{% render_field field class="form-control is-valid" %}
								{% endif %}
							{% else %}
								{% render_field field class="form-control" %}
							{% endif %}

							{% if field.help_text %}
								<small class="form-text text-muted">{{ field.help_text }}</small>
							{% endif %}
						</div>
					{% endfor %}
					<div class="holderbutton">
						<input type="submit" value="Wyślij">
					</div>
				</form>
				<a href="{{ file_list_url }}" target="_blank">
					<button class="btn">LISTA PLIKÓW</button>
				</a><br>
			</div>
			<div class="step info">
				<p>
					Pamiętaj aby nikomu nie udostępniać danych, które właśnie widzisz.
				</p>
			</div>
		</div>
	</div>
{% endblock %}